@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/_Layout.cshtml";
}

<h2>@ViewBag.Message</h2>

<p>   
This is a simple pizza ordering web site. <br />
People can come and see what we have in our pizza shop. <br /> 
We offer a selection of pizzas and drinks. <br /> 
A user can make an order that can be delivered to him/her. <br /> 
If the order is more that 30 USD, than delivery is free. <br /> 
User must be logged in to perform the payments <br /> 
</p>

