@model IEnumerable<Pizza.Model.Category>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/_Layout.cshtml";
}

<table>
    <tr>
        <th>
            Name
        </th>
        <th>
            Description
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
          <a href="categories/show?name=@item.Name">@item.Name</a>
        </td>
        <td>
            @item.Description
        </td>
    </tr>
}

</table>

